/*MEDIA QUERIES POUR TELEPHONE*/
body {
  padding: 20px;
  margin: 20px;
  font-family: "Oswald", sans-serif;
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}
.Titre {
  background-color: #e9ebff;
}

header {
  font-family: "Bebas Neue", sans-serif;
  border-bottom: 2px solid black;
  font-size: large;
  background-color: #ffffff; 
  border-radius: 10px;
  border: 2px solid #000000;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10rem;
}

.Logo-Linkedin,.Reseaux-sociaux,.instagram,.Nom-Linkedin{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}
.bloc-gauche{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.m-class1 {
  display: flex;
  position: relative;
  gap: 1rem;
}

.m-class2 {
  display: flex;
  gap: 5rem;
  position: static;
  justify-content: center;
  justify-content: space-around;
}

.m-class3 {
  display: flex;
  gap: 7rem;
  position: static;
  justify-content: center;
  justify-content: space-around;
}

.Formation {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 2px solid #000000;
  margin: 15px;
  padding: 10px;
  height: auto;
  width: 35%;
}

.A-propos {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 1rem;
  margin: 15px;
  width: 30%;
  padding: 10px;
  height: 45%;
  width: 35%;
  text-align: center;
  position: absolute;
  left: 35em;
  top: 5em;
}

.deco2 {
  background-color: #e9ebff;
  width: 50%;
  height: 225%;
  position: absolute;
  top: 175px;
  right: 100px;
  z-index: -2;
  transform: translate(15px);
  border: 1px solid black;
  border-radius: 1rem;
}

.deco3 {
  background-color: #e9ebff;
  width: 49%;
  height: 167%;
  position: absolute;
  top: 500px;
  left: -10px;
  z-index: -2;
  transform: translate(15px);
  border: 1px solid black;
  border-radius: 1rem;
}

.Informatique {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 15px;
  padding: 10px;
  height: 30em;
  width: 35%;
  box-shadow: 10px 10px 0px #5b67ed;
}

.Experiences {
  background-color:white;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 15px;
  padding: 10px;
  height: auto;
  width: 35%;
}

.Portefolio {
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 15px;
  padding: 10px;
  height: auto;
  width: 15%;
  box-shadow: -10px -10px 0px #5b67ed;
}

.centre-interet {
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 15px;
  padding: 10px;
  height: auto;
  width: 20%;
  box-shadow: -10px 10px 0px #5b67ed;
}

.toolbar {
  border-bottom: 1px solid black;
  background-color: #e9ebff;
  border-radius: 5px;
}
.m-class1,.m-class2,.m-class3 > ul {
  list-style-type: none;
}