body {
    padding: 0%;
    margin: 0;
    font-family: 'Oswald', sans-serif;}

h1,h2,h3{
    font-family: 'Bebas Neue', sans-serif;
}
.header h1 {
    background-color: lightblue;
}

header{
    font-family: 'Bebas Neue', sans-serif;
    border-bottom: 2px solid black;
}

.Info-decal-droite{
    position: relative;
    top: -175px; left: 200px;
    font-size: large;
}

.réseaux-sociaux{
    position: relative;
    top: -500px; left: 800px;
}
.Bloc-entete{
    position: relative;
    top: -370px; left: 800px;
    font-size: large;
    
}
.section-toolbar {
    border-bottom: 2px solid black;
    background-color: lightgrey;
}
